<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d0ab9ae4-b504-4bfc-bbdb-444e6485fa13" Alias="master" Level="2">
  <Info>
    <Name>Master</Name>
    <Icon>icon-autofill color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fab75440-9cba-44a3-9383-c4258e754279" SortOrder="0">home</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>