<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="40bf17e6-7725-4d54-8670-a08eaab4571d" Alias="quoteModule" Level="2">
  <Info>
    <Name>Quote Module</Name>
    <Icon>icon-defrag color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elementary</Folder>
    <Compositions>
      <Composition Key="d1645552-6d1b-4a08-a201-db60ce9e2a4f">titleCompositions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>37a7b7c6-a9eb-4fb8-bdd3-06ebdda15e46</Key>
      <Name>Link to Action</Name>
      <Alias>linkToAction</Alias>
      <Definition>143557e4-4a92-4c35-b3c0-0f41a0072d32</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>