<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="523d31f4-cfe2-4b0a-85e7-7c8a72185bca" Alias="sectionCleanDesignList" Level="2">
  <Info>
    <Name>Section Clean Design List</Name>
    <Icon>icon-defrag color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e705d51-5474-4a88-8a80-14b20738d6ea</Key>
      <Name>Section Clean Design</Name>
      <Alias>sectionCleanDesign</Alias>
      <Definition>331325ec-e2cc-4822-b518-f979c9e29753</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>