<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b49dc10b-3f2d-4ce1-8e1c-a1543fe78976" Alias="testimonialModule" Level="2">
  <Info>
    <Name>Testimonial Module</Name>
    <Icon>icon-defrag color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elementary</Folder>
    <Compositions>
      <Composition Key="d1645552-6d1b-4a08-a201-db60ce9e2a4f">titleCompositions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>de7b01a6-3b96-49e1-b5c2-36aaaa3dde5d</Key>
      <Name>Testimonial List</Name>
      <Alias>testimonialList</Alias>
      <Definition>6e6f985c-8dcc-41c0-a5fa-2899a817d98f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>