<?xml version="1.0" encoding="utf-8"?>
<Content Key="52a8fc29-a30d-4bf0-847c-4b43f801983e" Alias="Blog" Level="2">
  <Info>
    <Parent Key="14aaa1a8-d724-492a-b2f4-74c5c36fafeb">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogs</ContentType>
    <CreateDate>2021-09-13T09:09:18</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a50750b1-7508-407e-a839-d6d9af291e89">Blogs</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "d9e94b4c-6d0a-4847-af56-acb7f517b791",
    "mediaKey": "a9d2fce5-014f-4710-b465-0f270cd78864",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </bannerImage>
    <howManyPostsShouldBeShownStar>
      <Value><![CDATA[4]]></Value>
    </howManyPostsShouldBeShownStar>
    <textWidgetMaster>
      <Value><![CDATA[Demo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in molestie neque, eget posuere risus. In mauris orci, imperdiet quis hendrerit eget, dapibus sed nisi..]]></Value>
    </textWidgetMaster>
  </Properties>
</Content>