<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb406602-83ce-48cd-9b0c-5ab0787f131b" Alias="Configuration Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ConfigurationSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>configurationSettings</ContentType>
    <CreateDate>2021-10-27T09:21:47</CreateDate>
    <NodeName Default="Configuration Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>