<?xml version="1.0" encoding="utf-8"?>
<Content Key="37bfb783-3db5-47e8-acc8-c9c035089b2e" Alias="Single" Level="3">
  <Info>
    <Parent Key="7ee5cf49-15ec-400d-b6cd-691aac2d8a93">Work</Parent>
    <Path>/Home/Work/Single</Path>
    <Trashed>false</Trashed>
    <ContentType>workDetail</ContentType>
    <CreateDate>2021-10-26T16:28:48</CreateDate>
    <NodeName Default="Single" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="990ed745-60b2-4d40-bfa7-65ddc91f2380">WorkDetail</Template>
  </Info>
  <Properties>
    <carouselImages>
      <Value><![CDATA[[
  {
    "key": "279a0df4-f17c-4ba0-a8e1-1494fb9a0440",
    "mediaKey": "ed15709f-d164-40d8-ab7a-b6d056b02d69",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "528c1ec4-4eee-4a69-884f-4c2493ec4147",
    "mediaKey": "6cafdb9b-e853-450c-b148-aba38bad80fb",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "7018bd9c-41b1-4d72-a9d6-27280f8915f8",
    "mediaKey": "1267dd87-addf-402b-94f0-b767fc4c767c",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "d7c8f663-1eb1-4834-a8a0-97b38c5510bf",
    "mediaKey": "00c774e6-b239-4dd3-b920-f18c0d480385",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  },
  {
    "key": "b0d9a125-c84e-48a1-984c-154256fd1466",
    "mediaKey": "3316c3cf-602d-48b5-b54b-badd892d05e8",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </carouselImages>
    <category>
      <Value><![CDATA[umb://document/48a47be5e6b74673adeccb74ef5ab2e9]]></Value>
    </category>
    <client>
      <Value><![CDATA[Newtheme]]></Value>
    </client>
    <image>
      <Value><![CDATA[[
  {
    "key": "06cd6288-899d-48be-ae2e-9536afd49a04",
    "mediaKey": "6cafdb9b-e853-450c-b148-aba38bad80fb",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <relatedContent>
      <Value><![CDATA[umb://document/37bfb7833db547e8acc8c9c035089b2e]]></Value>
    </relatedContent>
    <releasedDate>
      <Value><![CDATA[2022-01-25T00:00:00]]></Value>
    </releasedDate>
    <tags>
      <Value><![CDATA[umb://document/d4f49a52b2554fc8951e0e26b876e5ee,umb://document/94a4f9ce69774f51a53628e656435a98,umb://document/d72240b09bdf4ea8803202f2e0ab991f]]></Value>
    </tags>
    <technologyUsed>
      <Value><![CDATA[HTML 5,CSS 3]]></Value>
    </technologyUsed>
    <title>
      <Value><![CDATA[Work Description]]></Value>
    </title>
    <workDetailSection>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.]]></Value>
    </workDetailSection>
  </Properties>
</Content>