<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb99ab21-432e-414d-9de5-0aab383f862c" Alias="test" Level="3">
  <Info>
    <Parent Key="52a8fc29-a30d-4bf0-847c-4b43f801983e">Blog</Parent>
    <Path>/Home/Blog/test</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2021-09-20T16:28:57</CreateDate>
    <NodeName Default="test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de09345f-0f21-4c72-acfc-9290348c2f61">BlogPost</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "ad6a4c8c-cdb7-45c1-8796-0d20f5d06c00",
    "mediaKey": "a9d2fce5-014f-4710-b465-0f270cd78864",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </bannerImage>
    <blogBodyContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full Fidth",
          "id": "f40e2a56-b829-4d9e-b848-80a8655610df",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Welcome here",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </blogBodyContent>
    <blogDate>
      <Value><![CDATA[2021-10-25T00:00:00]]></Value>
    </blogDate>
    <blogPostDetail>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.]]></Value>
    </blogPostDetail>
    <blogTags>
      <Value><![CDATA[["Animation","Web Design"]]]></Value>
    </blogTags>
    <pageTitle>
      <Value><![CDATA[Virat]]></Value>
    </pageTitle>
    <textWidget>
      <Value><![CDATA[]]></Value>
    </textWidget>
  </Properties>
</Content>