<?xml version="1.0" encoding="utf-8"?>
<Content Key="d72240b0-9bdf-4ea8-8032-02f2e0ab991f" Alias="Wordpress" Level="3">
  <Info>
    <Parent Key="edea293f-4833-4c9b-83e9-a069a6e8bd51">Tags</Parent>
    <Path>/ConfigurationSettings/Tags/Wordpress</Path>
    <Trashed>false</Trashed>
    <ContentType>data</ContentType>
    <CreateDate>2021-10-27T09:22:39</CreateDate>
    <NodeName Default="Wordpress" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>