<?xml version="1.0" encoding="utf-8"?>
<Media Key="f584d466-0a39-4723-b870-f90f939dd11a" Alias="1X1 Blue" Level="2">
  <Info>
    <Parent Key="35a8cb29-d869-4e44-9871-960924c4624e">Home</Parent>
    <Path>/Home/X1Blue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-02T08:14:04</CreateDate>
    <NodeName Default="1X1 Blue" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mdkij3jz/1x1-blue.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>