<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4113541-f612-45a9-bccd-bc3993f8ce89" Alias="Client1" Level="3">
  <Info>
    <Parent Key="92c5fc66-321b-4248-9401-8627f848e3ca">Client-Logo</Parent>
    <Path>/Home/ClientLogo/Client1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-02T08:15:35</CreateDate>
    <NodeName Default="Client1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i20bdnas/client1.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>