<?xml version="1.0" encoding="utf-8"?>
<Media Key="47143cb8-4a9d-4831-838e-1a3ddb167b42" Alias="Client1" Level="2">
  <Info>
    <Parent Key="ecb2a168-dc57-44cd-a077-6634c353bc00">clients-logo</Parent>
    <Path>/clientsLogo/Client1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-06T09:41:22</CreateDate>
    <NodeName Default="Client1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xy4bir23/client1.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>