<?xml version="1.0" encoding="utf-8"?>
<Media Key="796dd477-3ea3-4a05-8d04-d4b573c51751" Alias="Img12" Level="2">
  <Info>
    <Parent Key="dcfe871b-d96a-4ce8-a090-7bb4512829b5">Works</Parent>
    <Path>/Works/Img12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-06T09:38:37</CreateDate>
    <NodeName Default="Img12" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ohkg04nd/img12.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>