<?xml version="1.0" encoding="utf-8"?>
<Media Key="8227df18-e450-4688-abde-a39f33d1add3" Alias="Img6" Level="3">
  <Info>
    <Parent Key="0b77db1f-07b0-4819-99c8-82c4c8c5c588">works</Parent>
    <Path>/Home/works/Img6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-02T08:18:47</CreateDate>
    <NodeName Default="Img6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d1pdpasq/img6.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>