<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fdb3736-c10a-41b7-8d99-0df6e2502a7a" Alias="Team4" Level="2">
  <Info>
    <Parent Key="badc89bb-d96f-45d5-aed6-206f51b33101">Team</Parent>
    <Path>/Team/Team4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-06T09:40:00</CreateDate>
    <NodeName Default="Team4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ga1nwhyk/team4.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>