<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5999445-0ac2-4c1b-86a5-bd6a427e7d74" Alias="Team2" Level="3">
  <Info>
    <Parent Key="babbac91-fbec-406c-936d-025f3fbfdbe3">team</Parent>
    <Path>/Home/team/Team2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-02T08:17:52</CreateDate>
    <NodeName Default="Team2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/iokjt3oc/team2.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>