<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b77db1f-07b0-4819-99c8-82c4c8c5c588" Alias="works" Level="2">
  <Info>
    <Parent Key="35a8cb29-d869-4e44-9871-960924c4624e">Home</Parent>
    <Path>/Home/works</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-02T08:18:34</CreateDate>
    <NodeName Default="works" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>