<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8291d42d-f5e8-4284-bfb3-9e35c9b98797" Alias="blogs" Level="2">
  <Info>
    <Name>Blogs</Name>
    <Icon>icon-blueprint color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Blogs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a50750b1-7508-407e-a839-d6d9af291e89">Blogs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a9ff5561-4d5c-4371-8337-d79ae33ab083" SortOrder="0">blogPost</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d46179a8-9bc1-4b91-a978-6522af8999bd</Key>
      <Name>Banner Image</Name>
      <Alias>bannerImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b749544-cf04-44b1-8938-502e6095e782</Key>
      <Name>How many posts should be shown? *</Name>
      <Alias>howManyPostsShouldBeShownStar</Alias>
      <Definition>98a7d9f3-30b8-4a71-8253-29e4ace8f789</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b981967-bbe6-4f0b-b663-464c8824b600</Key>
      <Name>Text Widget Master</Name>
      <Alias>textWidgetMaster</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Common Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Common Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>