<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43f0a927-86b8-4981-9709-4645d13b2146" Alias="contactUsModule" Level="2">
  <Info>
    <Name>Contact Us Module</Name>
    <Icon>icon-defrag color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elementary</Folder>
    <Compositions>
      <Composition Key="250b94da-09ad-4bf9-afaf-8d9602a71a8c">contactUs</Composition>
      <Composition Key="d1645552-6d1b-4a08-a201-db60ce9e2a4f">titleCompositions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>