<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ffe3ad83-7ac1-4f63-b7db-85d40f9f15a7" Alias="factsModule" Level="2">
  <Info>
    <Name>Facts Module</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elementary</Folder>
    <Compositions>
      <Composition Key="086d08b7-8238-4ae6-a436-7367781a75fe">subTitleComposition</Composition>
      <Composition Key="d1645552-6d1b-4a08-a201-db60ce9e2a4f">titleCompositions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2c89a5ed-0dc6-4903-b7ca-cb316cb53067</Key>
      <Name>Icon ✨</Name>
      <Alias>icon</Alias>
      <Definition>cee138d1-8e73-48ec-8328-968add40a554</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>-1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>