<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c8952d1b-aed6-4db4-b41f-c040359c2886" Alias="historyModuleList" Level="2">
  <Info>
    <Name>History Module List</Name>
    <Icon>icon-defrag color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elementary</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88454132-07cd-41ee-8336-d74d76b195cf</Key>
      <Name>History Module</Name>
      <Alias>historyModule</Alias>
      <Definition>d06a9cc5-a008-4e49-a43b-7538fea2c077</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>