<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d7409fce-bccd-4cc3-8332-36aca90c2e3b" Alias="tabbingAndAccordionNC" Level="2">
  <Info>
    <Name>Tabbing and Accordion NC</Name>
    <Icon>icon-defrag color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elementary</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2cb62421-b204-4d22-86ff-f868a4684041</Key>
      <Name>Tabbing and Accordion NC</Name>
      <Alias>tabbingAndAccordion</Alias>
      <Definition>4be86258-28e6-42a0-bdba-b06eaed3c9ef</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>