<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="871a215d-ad69-46f1-a7fa-3355c3013280" Alias="teamSection" Level="2">
  <Info>
    <Name>Team Section</Name>
    <Icon>icon-defrag color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elementary</Folder>
    <Compositions>
      <Composition Key="d1645552-6d1b-4a08-a201-db60ce9e2a4f">titleCompositions</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>32ddcd4d-4bd4-4209-a02a-be632d362261</Key>
      <Name>Team List</Name>
      <Alias>teamList</Alias>
      <Definition>0cb7c2d7-372a-49c6-be21-6e03624aa885</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>