<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cee138d1-8e73-48ec-8328-968add40a554" Alias="Facts Icon" Level="2">
  <Info>
    <Name>Facts Icon</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "happy"
    },
    {
      "id": 2,
      "value": "presentation"
    },
    {
      "id": 3,
      "value": "target"
    },
    {
      "id": 4,
      "value": "trophy"
    }
  ]
}]]></Config>
</DataType>