<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a105ee1-f1f7-4f8a-879c-ced38bcb3e4b" Alias="Icon Type" Level="2">
  <Info>
    <Name>Icon Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "leaf"
    },
    {
      "id": 2,
      "value": "paper-plane"
    },
    {
      "id": 3,
      "value": "life-saver"
    },
    {
      "id": 4,
      "value": "paint-brush"
    },
    {
      "id": 5,
      "value": "line-chart"
    },
    {
      "id": 6,
      "value": "gift"
    }
  ]
}]]></Config>
</DataType>