<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47eaf88b-db1e-4ca0-9b0c-0cc7f89c1262" Alias="MUP" Level="2">
  <Info>
    <Name>MUP</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>