<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2df4f507-f5ba-424a-98ec-144f50131f99" Alias="Responsive Ddl" Level="3">
  <Info>
    <Name>Responsive Ddl</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/ICON+DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "star-o"
    },
    {
      "id": 2,
      "value": "codepen"
    },
    {
      "id": 3,
      "value": "heart-o"
    }
  ]
}]]></Config>
</DataType>