<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3358b84e-4d72-47fb-972e-3d3d3fc1f494" Alias="Section Title and Icon Header NC" Level="2">
  <Info>
    <Name>Section Title and Icon Header NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sectionTitleAndIconHeader",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>