<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4be86258-28e6-42a0-bdba-b06eaed3c9ef" Alias="Tabbing and Accordion Section" Level="2">
  <Info>
    <Name>Tabbing and Accordion Section</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "tabbingSectionNC",
      "ncTabAlias": "Content",
      "nameTemplate": "Tabbing Section NC"
    },
    {
      "ncAlias": "accordionSectionNC",
      "ncTabAlias": "Content",
      "nameTemplate": "Accordion Section NC"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>