<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cb7c2d7-372a-49c6-be21-6e03624aa885" Alias="Team NC" Level="2">
  <Info>
    <Name>Team NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "team",
      "ncTabAlias": "Content",
      "nameTemplate": "Team"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>