<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67bf450d-91b8-4f4d-8498-37058388eb45" Alias="Video List" Level="2">
  <Info>
    <Name>Video List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "videoList",
      "ncTabAlias": "Content",
      "nameTemplate": "Video Item List"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>