<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca8f2f59-cb8e-4e53-bd10-ae5fba3f33b9" Alias="Accordion NC" Level="2">
  <Info>
    <Name>Accordion NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordionSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Accordion NC"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>