<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc7ef86f-8342-42fb-93db-70247734b6db" Alias="BlogPost-Picker" Level="2">
  <Info>
    <Name>BlogPost-Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "blogPost",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>