<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9af58d04-89d0-4fe2-a8f1-2710d51d4191" Alias="Blog Sort By" Level="2">
  <Info>
    <Name>Blog Sort By</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Created Date"
    },
    {
      "id": 2,
      "value": "Updated Date"
    },
    {
      "id": 3,
      "value": "Blog Date"
    },
    {
      "id": 4,
      "value": "Most Comments on Blog"
    }
  ]
}]]></Config>
</DataType>