<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27f15a48-f252-4367-b628-e693872282c9" Alias="CategoryTags[MNTP]" Level="3">
  <Info>
    <Name>CategoryTags[MNTP]</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/ICON+DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>