<?xml version="1.0" encoding="utf-8"?>
<DataType Key="104a4a7e-a83f-4a9d-af0d-1460095dbe48" Alias="Client NC" Level="2">
  <Info>
    <Name>Client NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "client",
      "ncTabAlias": "Content",
      "nameTemplate": "Client List"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>