<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec0f4173-bd66-4ddf-819e-17cbc7b3db26" Alias="Feature Module NC" Level="2">
  <Info>
    <Name>Feature Module NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "featureModule",
      "ncTabAlias": "Content",
      "nameTemplate": "Feature Module"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>