<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0caa3975-cc65-4abd-83cb-e4712ac188c8" Alias="Feature Module List NC" Level="2">
  <Info>
    <Name>Feature Module List NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "featureModuleList",
      "ncTabAlias": "Content",
      "nameTemplate": "Feature Module List"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>