<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b3c7855-035d-4298-bdb4-d7070f33eaff" Alias="History Module NC" Level="2">
  <Info>
    <Name>History Module NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "historyModule",
      "ncTabAlias": "Content",
      "nameTemplate": "History Module"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>