<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14cc9a4e-0d8c-4d37-8bb8-6472c081987e" Alias="Home Slider NC" Level="2">
  <Info>
    <Name>Home Slider NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "homeSlider",
      "ncTabAlias": "Content",
      "nameTemplate": "Home Slider"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>