<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd069259-8ebc-47c1-9291-3041fc56abe4" Alias="Our Work NC" Level="2">
  <Info>
    <Name>Our Work NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ourWork",
      "ncTabAlias": "Content",
      "nameTemplate": "Our Work NC"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>