<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89aecfdd-3189-46dd-a6e2-14ca628f9deb" Alias="Our Work NC List" Level="2">
  <Info>
    <Name>Our Work NC List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ourWorkNCList",
      "ncTabAlias": "Content",
      "nameTemplate": "Our Work NC List"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>