<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5c974ea-74a2-4857-8f8d-dc6af9e524bc" Alias="Section Flexible NC" Level="2">
  <Info>
    <Name>Section Flexible NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sectionFlexibleNC",
      "ncTabAlias": "Content",
      "nameTemplate": "Section Flexible NC"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>