<?xml version="1.0" encoding="utf-8"?>
<DataType Key="152dcb6c-9b21-4f72-8fd6-2e7a0c0134a9" Alias="Section ddl" Level="3">
  <Info>
    <Name>Section ddl</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/ICON+DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "desktop"
    },
    {
      "id": 2,
      "value": "cubes"
    },
    {
      "id": 3,
      "value": "institution"
    },
    {
      "id": 4,
      "value": "pagelines"
    },
    {
      "id": 5,
      "value": "pie-chart"
    }
  ]
}]]></Config>
</DataType>