<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e206684-3427-48a0-be83-15db756a447b" Alias="Section Support NC" Level="2">
  <Info>
    <Name>Section Support NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sectionSupportNC",
      "ncTabAlias": "Content",
      "nameTemplate": "Section Support NC"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>