<?xml version="1.0" encoding="utf-8"?>
<DataType Key="694da05b-84cf-4fa7-b06a-57e82be49beb" Alias="Tabbing NC" Level="2">
  <Info>
    <Name>Tabbing NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "tabbingSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Tabbing Section"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>