<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a0a2738-294b-47a8-9698-382ba5c3afa6" Alias="Tabbing and Accordion NC" Level="2">
  <Info>
    <Name>Tabbing and Accordion NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "tabbingAndAccordionNC",
      "ncTabAlias": "Content",
      "nameTemplate": "Tabbing and Accordion NC"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>