<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6014cff7-da74-4d0c-aacc-96e34cd57858" Alias="Technical Skill NC" Level="2">
  <Info>
    <Name>Technical Skill NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "technicalSkill",
      "ncTabAlias": "Content",
      "nameTemplate": "Technical Skill"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>