<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e6f985c-8dcc-41c0-a5fa-2899a817d98f" Alias="Testimonial NC" Level="2">
  <Info>
    <Name>Testimonial NC</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "testimonial",
      "ncTabAlias": "Content",
      "nameTemplate": "Testimonial List"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>