<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79164b03-002d-4bcf-93f9-8a8841798e5a" Alias="Video ddl" Level="3">
  <Info>
    <Name>Video ddl</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/ICON+DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "briefcase"
    },
    {
      "id": 2,
      "value": "glass"
    },
    {
      "id": 3,
      "value": "rocket"
    }
  ]
}]]></Config>
</DataType>