<?xml version="1.0" encoding="utf-8"?>
<Media Key="52f116f8-b503-46cb-b593-ddb9621916c9" Alias="Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-06T09:41:34</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>