<?xml version="1.0" encoding="utf-8"?>
<Media Key="badc89bb-d96f-45d5-aed6-206f51b33101" Alias="Team" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-06T09:39:52</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>