@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ClientModule>
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.Models;
@using Core.Helper;
@if (Model != null)
{
    var clientList = Model.Value<IEnumerable<IPublishedElement>>("clientList");
    <section id="clients" class="section">
        <div class="container">
            <div class="row">
                <div class="title-box text-center">
                    <h2 class="title">Our Clients</h2>
                </div>
                <div class="clients-carousel">
                    @if (clientList != null)
                    {
                        @foreach (var item in clientList)
                        {

                            var partialView = HelperServices.GetPartial(item);
                            @await Html.PartialAsync(partialView, item)

                        }
                    }                   
            

                </div>
            </div>
        </div>
    </section>
}