@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SectionTitleAndIconHeader>
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.Models;
@using Core.Helper;
@if (Model != null)
{
    var sectionContent = Model.Value<IEnumerable<IPublishedElement>>("sectionContent");

    @if (sectionContent != null)
    {
        @foreach (var item in sectionContent)
        {

            var partialView = HelperServices.GetPartial(item);
           
            @await Html.PartialAsync(partialView, item)
        }

    }
}



@*<li class="active">
        <a aria-expanded="true" href="#tab-content-1" data-toggle="tab">
            <i class="fa fa-desktop"></i>
            <h4>Responsive</h4>
        </a>
        <div class="tab-arrow">
        </div>
    </li>*@

@*<li>
        <a aria-expanded="true" href="#tab-content-2" data-toggle="tab">
            <i class="fa fa-cubes"></i>
            <h4>Flexible</h4>
        </a>
        <div class="tab-arrow">
        </div>
    </li>

    <li>
        <a aria-expanded="true" href="#tab-content-3" data-toggle="tab">
            <i class="fa fa-institution"></i>
            <h4>Support</h4>
        </a>
        <div class="tab-arrow">
        </div>
    </li>

    <li>
        <a aria-expanded="true" href="#tab-content-4" data-toggle="tab">
            <i class="fa fa-pagelines"></i>
            <h4>Clean Design</h4>
        </a>
        <div class="tab-arrow">
        </div>
    </li>

    <li>
        <a aria-expanded="true" href="#tab-content-5" data-toggle="tab">
            <i class="fa fa-pie-chart"></i>
            <h4>Easy to Use</h4>
        </a>
        <div class="tab-arrow">
        </div>
    </li>*@



@*<div class="tab-content-main">
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane active in" id="tab-content-1">
                    Features Icon
                    <div class="col-md-6 margin-bottom-30">
                        <div class="tab1-features">
                            <div class="icon"> <i class="fa fa-star-o"></i> </div>
                            <div class="info">
                                <h4>Dedicated Support & Updates</h4>
                                <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet. Et netus et malesuada fames ac turpis egestas tristique senectus. </p>
                            </div>
                        </div>

                        <div class="tab1-features">
                            <div class="icon"> <i class="fa fa-codepen"></i> </div>
                            <div class="info">
                                <h4>multipurpose theme</h4>
                                <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet. Et netus et malesuada fames ac turpis egestas tristique senectus. </p>
                            </div>
                        </div>

                        <div class="tab1-features">
                            <div class="icon"> <i class="fa fa-heart-o"></i></div>
                            <div class="info">
                                <h4>Design With Love</h4>
                                <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet. Et netus et malesuada fames ac turpis egestas tristique senectus. </p>
                            </div>
                        </div>

                    </div>
                    End features Icon
                    Start Carousel
                    <div class="col-md-6">
                        <div class="tab-carousel">
                            <div class="item"><img src="images/works/img4.jpg" alt=""></div>
                            <div class="item"><img src="images/works/img5.jpg" alt=""></div>
                            <div class="item"><img src="images/works/img6.jpg" alt=""></div>
                        </div>
                    </div>
                    End Carousel
                </div>
                End Tab content 1
                Start Tab content 2
                <div class="tab-pane" id="tab-content-2">

                    <div class="col-md-4">
                        <div class="tab2-services-box">
                            <div class="media">
                                <img src="images/services1.jpg" alt="services" />
                            </div>

                            <div class="services-info">
                                <h4>Our History</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tab2-services-box">
                            <div class="media">
                                <img src="images/services2.jpg" alt="services" />
                            </div>

                            <div class="services-info">
                                <h4>What We Do</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="tab2-services-box">
                            <div class="media">
                                <img src="images/services3.jpg" alt="services" />
                            </div>

                            <div class="services-info">
                                <h4>Our Mission</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="tab-pane" id="tab-content-3">

                    <div class="features-tab3">
                        Start Features Left
                        <div class="col-md-4">
                            <div class="features-left m-bot-30">
                                Features Item #1
                                <div class="features-item">
                                    <div class="features-icon"> <i class="fa fa-pagelines"></i> </div>
                                    <div class="features-info">
                                        <h4>Multipurpose & Responsive</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
                                    </div>
                                </div>
                                Features Item #2
                                <div class="features-item">
                                    <div class="features-icon"> <i class="fa fa-trophy"></i> </div>
                                    <div class="features-info">
                                        <h4>Creative Design</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
                                    </div>
                                </div>
                                Features Item #3
                                <div class="features-item">
                                    <div class="features-icon"> <i class="fa fa-tag"></i> </div>
                                    <div class="features-info">
                                        <h4>Awesome Theme</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        End Features Left
                        Start Features Image
                        <div class="col-md-4 hidden-xs m-bot-30">
                            <img src="images/device.png" alt="Features Image" />
                        </div>
                        End Features Image
                        Start Features Right
                        <div class="col-md-4">
                            <div class="features-right m-bot-30">
                                Features Item #1
                                <div class="features-item">
                                    <div class="features-icon"> <i class="fa fa-eyedropper"></i> </div>
                                    <div class="features-info">
                                        <h4>Strategy Solutions</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
                                    </div>
                                </div>
                                Features Item #2
                                <div class="features-item">
                                    <div class="features-icon"> <i class="fa fa-search-plus"></i> </div>
                                    <div class="features-info">
                                        <h4>App Development</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
                                    </div>
                                </div>
                                Features Item #3
                                <div class="features-item">
                                    <div class="features-icon"> <i class="fa fa-send-o"></i> </div>
                                    <div class="features-info">
                                        <h4>HTML5 & CSS3</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        End Features Right
                    </div>

                </div>

                <div class="tab-pane" id="tab-content-4">

                    <div class="tab-content-4">

                        <div class="col-md-3">
                            <div class="tab4-services-box">
                                <div class="icon"><i class="fa fa-bolt"></i> </div>
                                <div class="info">
                                    <h4>Simple and Clean Codes</h4>
                                    <p>
                                        Vivamus a placerat ante. Duis vulputate nibh sit amet augue vehicula, mattis
                                        viverra purus tristique.
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="tab4-services-box">
                                <div class="icon"><i class="fa fa-fire"></i> </div>
                                <div class="info">
                                    <h4>Responsive Layout Design</h4>
                                    <p>
                                        Vivamus a placerat ante. Duis vulputate nibh sit amet augue vehicula, mattis
                                        viverra purus tristique.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="tab4-services-box">
                                <div class="icon"><i class="fa fa-chain"></i> </div>
                                <div class="info">
                                    <h4>Unlimited Support</h4>
                                    <p>
                                        Vivamus a placerat ante. Duis vulputate nibh sit amet augue vehicula, mattis
                                        viverra purus tristique.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="tab4-services-box">
                                <div class="icon"><i class="fa fa-shopping-cart"></i> </div>
                                <div class="info">
                                    <h4>multipurpose theme</h4>
                                    <p>
                                        Vivamus a placerat ante. Duis vulputate nibh sit amet augue vehicula, mattis
                                        viverra purus tristique.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="tab-pane" id="tab-content-5">

                    <div class="tab-content-5">

                        <div class="col-md-6">
                            <div class="core-features">

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing.</p>

                                <ul class="list">
                                    <li>Font-Awesome Integration</li>
                                    <li>Multiple unique designs</li>
                                    <li>Clean coded, responsive and multipurpose</li>
                                    <li>Pages valid on w3c.</li>
                                    <li>Well documented.</li>
                                    <li>Easy to  customization.</li>
                                </ul>

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="devices-image">
                                <img src="images/device-desktop.png" alt="" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>*@


