@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SectionSupportSubListNC>
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.Models;
@if (Model != null)
{
    <div class="features-left m-bot-30">
        <div class="features-item">
            <div class="features-icon">
                @if (!string.IsNullOrEmpty(Model.Icon))
                {
                    <i class="fa fa-@Model.Icon"></i>
                }
            </div>
            <div class="features-info">
                @if (!string.IsNullOrEmpty(Model.Title))
                {
                    <h4>@Html.Raw(Model.Title)</h4>
                }
                @if (!string.IsNullOrEmpty(Model.SubTitle))
                {
                    <p>@Html.Raw(Model.SubTitle)</p>
                }
            </div>
        </div>
    </div>
}
