@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TabbingSection>
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.Models;
@if (Model != null)
{
    // var components = Model.Value<IEnumerable<IPublishedElement>>("components");


    
}
@*<div class="tab-pane" id="two">
        <p>
            Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua. Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua. Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.
        </p>
    </div>

    <div class="tab-pane" id="three">
        <p>
            Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua. Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.
        </p>
    </div>*@