@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Contact>
@{
	Layout = "Master.cshtml";
}

<section id="page-header" class="parallax" style="">
    <div class="overlay"></div>
    <div class="container">
        <h1>Contact Us</h1>
        <div class="breadcrumb">
            <ul>
                @{
                    var selection = Umbraco.AssignedContentItem;
                    var select2 = selection.Ancestors();
                    @if (select2.Any())
                    {
                        //foreach (var page in select2.OrderBy("Level"))
                        foreach (var items in select2.Reverse())
                        {
                            <li>
                                <a href=@items.Url()>@items.Name</a>
                            </li>
                        }
                        <li class="current">
                            <a href=@selection.Url()>@selection.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</section>

<section id="blog" class="section">
    <div class="container">
        <div class="row">
            <div class="title-box text-center">
                <h2 class="title">Body Section</h2>
            </div>
           Welcome to Contact Us page

        </div>
    </div>
</section>

