@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@using Core.Helper;
@{
    Layout = "Master.cshtml";
}
@{
    var homeSliderItems = Model.Value<IEnumerable<IPublishedElement>>("homeSlider");
    var components = Model.Value<IEnumerable<IPublishedElement>>("components");
}



<section id="home" class="home">
    <div class="slider-overlay"></div>
    <div class="flexslider">
        <ul class="slides scroll">
            @if (homeSliderItems != null)
            {
                foreach (var item in homeSliderItems)
                {
                    var partialView = HelperServices.GetPartial(item);
                    <li class="first">
                        @await Html.PartialAsync(partialView, item)
                    </li>
                }
            }
        </ul>
    </div>
</section>


@if (components != null)
{
    @if (components.Count() > 0)
    {
        foreach (var item in components)
        {
            var partialView = HelperServices.GetPartial(item);
            @await Html.PartialAsync(partialView, item)}
    }
}

<!--Start Footer-->
<!--End Footer-->